/*Damos formato a la fuente*/

@font-face {
    font-family: 'longa_iberica';
    src: url(../fonts/longa_iberica/LongaIberica-DEMO.ttf);
}

/*Header*/

.header {
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 30px;
}

/*Selector de Lenguaje*/
.language-selector {
    display: flex;
    align-items: center;
    /*Alinea los iconos de idioma verticalmente al centro*/
    gap: 10px;
}

.icon {
    cursor: pointer;
    font-size: 18px;
}

.header img {
    margin-right: 15px;
}

.header h1 {
    font-family: 'longa_iberica', sans-serif;
    font-weight: bolder;
    font-size: 50px;
    color: green;
    margin-right: 15px;
}

.icon {
    cursor: pointer;
    margin: 0 10px;
}

#content {
    padding: 20px;
}

/*Menú*/

.navbar {
    width: 90vw;
    margin-top: 10px;
    margin-left: 20px;
    background: linear-gradient(to right, darkgreen, lightgreen);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*Configuramos la dirección*/
.direccion {
    text-align: center;
}

.direccion h2 {
    color: black;
    font-weight: bold;
}

/*Centramos el mapa*/
#map {
    width: 90vw;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 20px;
    height: 280px;
}

/*Damos formato al footer*/

.quienes_somos,
.contacto,
.ultimas_noticias {
    display: inline-block;
    margin-left: 10px;
}

.phone,
.fax,
.email,
.location {
    display: inline-flex;
    margin-left: 10px;
}

footer {
    width: 90vw;
    background: linear-gradient(to right, darkgreen, lightgreen);
    margin-top: 20px;
    margin-left: 20px;
}

h2 {
    font-family: 'longa_iberica', sans-serif;
    font-size: 40px;
    color: red;
    font-weight: bold;
    letter-spacing: 5px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

li {
    color: black;
}

.tweet_text a {
    text-decoration: none;
    color: black;
}

.tweet_time {
    color: orange;
}

/*Damos formato a la estructura de la política de privacidad, el aviso legal y las Cookies*/
.conditions {
    list-style-type: none;

}

.conditions a {
    text-decoration: none;
    color: rgb(50, 50, 50);
    padding: 10px 15px;
    /*Relleno interno para aumentar el área clicable*/
    display: block;
}

.logo {
    padding-bottom: 20px;
    margin-left: 60px;
    margin-right: 60px;
}

.logo img {
    margin-left: 40px;
}

/*Damos formato para pantallas grandes*/

@media screen and (min-width: 700px) and (max-width: 3270px) {

    .header {
        width: 90vw;
        margin-top: 20px;
        margin-left: 70px;
    }

    .header h1 {
        margin-left: 120px;
    }

    .navbar {
        width: 90vw;
        /* Asegura que el navbar abarque todo el ancho de la ventana */
        margin: 0;
        /* Elimina márgenes externos */
        margin-left: 70px;
        margin-top: 20px;
        padding: 0 10px;
        /* Agrega espacio interno de 10px a los lados */
        background: linear-gradient(to right, darkgreen, lightgreen);
        /* Fondo de degradado */
        display: flex;
        align-items: center;
        /* Centra verticalmente el contenido del navbar */
        justify-content: space-between;
        /* Espacia los elementos del navbar */
        box-sizing: border-box;
        /* Incluye el padding en el ancho total */
    }

    .navbar a {
        margin-left: 40px;
    }

    #map {
        width: 90vw;
        margin-left: 70px;
    }

    /*footer*/

    footer>div {
        margin: 10px;
        padding-right: 10px;
    }

    /*Usamos flexbox solo en main-sections*/

    footer {
        width: 90vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        margin-left: 70px;
    }

    .main-sections {
        width: 90vw;
        display: flex;
        justify-content: space-between;
        /*Distribuye uniformemente las secciones*/
        align-items: flex-start;
        /*alinea la secciones por la parte superior*/
        flex-wrap: wrap;
        /*permite que se reorganicen en pantallas pequeñas*/
    }

    .main-sections .quienes_somos,
    .main-sections .contacto,
    .main-sections .noticias {
        flex: 1;
        /*Cada sección tendrá el mismo ancho*/
        padding-left: 10px;
        padding-right: 10px;
    }

    .Samain {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        margin-left: 40px;
        margin-right: 40px;
        text-align: center;
    }

    /*Estilos para las listas*/

    .legal_conditions {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0;

    }

    .conditions {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    /*Estilos para los elementos de las listas*/

    .conditions li {
        margin-right: 15px;
        /*Espaciado entre los elementos de la lista*/
    }
}