/*Damos formato a la fuente*/

@font-face {
    font-family: 'longa_iberica';
    src: url(../fonts/longa_iberica/LongaIberica-DEMO.ttf);
}

body {
    margin-left: 10px;
}

/*Header*/

.header {
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 17px;
}

/*Selector de Lenguaje*/
.language-selector {
    display: flex;
    align-items: center;
    /*Alinea los iconos de idioma verticalmente al centro*/
    gap: 10px;
}

.icon {
    cursor: pointer;
    font-size: 18px;
}

.header img {
    margin-right: 10px;
}

.header h1 {
    font-family: 'longa_iberica', sans-serif;
    font-weight: bolder;
    font-size: 50px;
    color: rgb(4, 142, 126);
    margin-right: 10px;
}

.icon {
    cursor: pointer;
    margin: 0 10px;
}

#content {
    padding: 20px;
}

/*Menú*/

.navbar {
    width: 90vw;
    margin-top: 10px;
    background: linear-gradient(to right, rgb(4, 135, 122), rgb(5, 219, 197));
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar-brand {
    color: white !important;
    font-weight: bolder;
}

/* Hace que los enlaces del menú principal sean blancos */
.navbar-nav .nav-link {
    color: white !important;
}

/* Cambia el color del texto dentro del menú desplegable a blanco */
.dropdown-menu .dropdown-item {
    color: white !important;
    text-align: left;
    /* Centra el texto */
    padding: 0;
    margin-right: 20px;
    margin-left: 10px;
}

/* Cambia el fondo del menú desplegable a turquesa */
.dropdown-menu {
    background-color: rgb(64, 224, 208);
    border: none;
    /* Ajusta el ancho del menú */
}

/* Cambia el color de fondo cuando se pasa el mouse sobre los elementos */
.dropdown-menu .dropdown-item:hover {
    width: auto;
    background-color: rgba(255, 255, 255, 0.2);
    /* Turquesa más claro */
}

/*Damos formato al body*/

#imagenCentral {
    width: 90vw;
    display: flex;
    margin-top: 10px;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.3);
}

.presentacionSocios p {
    text-align: justify;
    margin-top: 10px;
}

/*Distribuimos los diferentes logos*/

.sociosColaboradores {
    display: flex;
    justify-content: center;
    /*Centra horizontalmente los cards*/
    gap: 20px;
    flex-wrap: wrap;
    /*Permite que los cards se ajusten a nuevas líneas si es necesario*/
    padding: 20px;
}

.card {
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.card-img-top {
    width: 90%;
    /*Aseguramos que la imágen ocupe todo el ancho del contenedor*/
    height: 150px;
    /*Define una altura fija para las imágenes*/
}

.card-body a {
    text-decoration: none;
    font-weight: bolder;
    color: black;
}

/*Damos formato a la imágen de presentación*/

.imagen_Presentacion {
    display: block;
    margin: 10px auto;
    max-width: 90vw;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/*Damos formato al texto de presentación.*/

.presentacionSocios p {
    color: black;
    font-size: 20px;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}


/*Contenedor de las Carpetas*/

.folder {
    background-color: #4285f4;
    color: white;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    width: 150px;
    transition: background-color 0.3s;
}

.folder:hover {
    background-color: #3367d6;
}

/*Estilos para las imagenes dentro de las carpetas*/

.folder-content {
    display: none;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.photo img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.photo img:hover {
    transform: scale(1.1);
}


/*Damos formato al footer*/

.quienes_somos,
.contacto,
.ultimas_noticias {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.phone,
.fax,
.email,
.location {
    display: inline-flex;
    margin-left: 10px;
}

.main-sections p {
    color: white;
}

footer {
    background: linear-gradient(to right, rgb(4, 135, 122), rgb(5, 219, 197));
    margin-top: 20px;
}

h2 {
    font-family: 'longa_iberica', sans-serif;
    font-size: 40px;
    color: red;
    font-weight: bold;
    letter-spacing: 5px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

li {
    color: white;
}

.tweet_text a {
    text-decoration: none;
    color: white;
}

.tweet_time {
    color: orange;
}

/*Damos formato a la estructura de la política de privacidad, el aviso legal y las Cookies*/
.conditions {
    list-style-type: none;

}

.conditions a {
    text-decoration: none;
    color: rgb(243, 238, 238);
    padding: 10px 15px;
    /*Relleno interno para aumentar el área clicable*/
    display: block;
}

.logo {
    padding-bottom: 20px;
    margin-left: 60px;
    margin-right: 60px;
}

.logo img {
    margin-left: 40px;
}

/*Damos formato para pantallas grandes*/

@media screen and (min-width: 700px) and (max-width: 3270px) {

    .header {
        width: 90vw;
        margin-top: 20px;
        margin: auto;
    }

    .header h1 {
        font-size: 70px;
    }

    .header img {
        height: 70px;
        margin-left: 15px;
    }

    .lenguage-selector {
        margin-right: 15px;
    }

    .navbar {
        width: 90vw;
        /* Asegura que el navbar abarque todo el ancho de la ventana */
        margin: 0;
        /* Elimina márgenes externos */
        padding: 0 10px;
        /* Agrega espacio interno de 10px a los lados */
        background: linear-gradient(to right, rgb(4, 135, 122), rgb(5, 219, 197));
        /* Fondo de degradado */
        display: flex;
        align-items: center;
        /* Centra verticalmente el contenido del navbar */
        justify-content: space-between;
        /* Espacia los elementos del navbar */
        box-sizing: border-box;
        /* Incluye el padding en el ancho total */
    }

    .navbar a {
        margin-left: 40px;
    }

    /* Contenedor principal */
    .container {
        width: 90vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Centra horizontalmente todos los elementos dentro del contenedor */
        justify-content: center;
        /* Centra verticalmente si es necesario */
        text-align: justify;
        margin-top: 20px;
    }

    /*Animación*/
    @keyframes reveal {
        0% {
            opacity: 0;
            filter: blur(10px);
            transform: translateY(20px);
        }

        100% {
            opacity: 1;
            filter: blur(0);
            transform: translateY(0);

        }
    }

    .figure img {
        display: flex;
        height: 150px;
        margin-left: 60px;
        align-items: center;
        align-content: center;
    }

    .listas ul {
        padding-left: 20px;
        /*Ajusta la distancia entre los puntos y el texto*/
        margin-left: 20px;
        /*Sangría general para que no esté pegado a la izquierda*/
        list-style-position: inside;
        /*Hace que los puntos estén más cerca del texto*/
        text-align: left;
    }

    .listas li {
        color: black;
        text-align: justify;
        padding-left: 40px;
    }

    #texto1 {
        text-align: justify;
        margin-left: 30px;
        margin-right: 30px;
    }

    #texto2 {
        text-align: justify;
        margin-left: 30px;
        margin-right: 30px;
    }

    #texto3 {
        text-align: justify;
        margin-left: 30px;
        margin-right: 30px;
    }


    .folder-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        width: 50vw;
        /* Ajusta el ancho al 90% de la pantalla */
        margin: 0 auto;
        /* Centra horizontalmente */
    }

    .folder {
        width: 50vw;
        /* Aumenta el tamaño de las carpetas */
        font-size: 18px;
        /* Ajusta el tamaño del texto */
    }

    .photo img {
        width: 50vw;
        height: 20px;
        /* Mantiene la proporción */
        border-radius: 8px;
    }

    #album-container {
        width: 50vw;
        height: auto;
        justify-content: center;
    }

    /*footer*/

    footer>div {
        margin: 10px;
    }

    /*Usamos flexbox solo en main-sections*/

    footer {
        width: 90vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .main-sections {
        width: 90vw;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* Crea tres columnas del mismo tamaño */
        gap: 20px;
        /* Espacio de 10px entre columnas */
        padding-left: 20px;
    }

    .phone,
    .fax,
    .email,
    .location {
        display: block;
    }

    .phone img,
    .phone p {
        display: inline-flex;
    }

    .fax img,
    .fax p {
        display: inline-flex;
    }

    .email img,
    .email p {
        display: inline-flex;
    }

    .location img,
    .location p {
        display: inline-flex;
    }

    /*Estilos para las listas*/

    .legal_conditions {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0;

    }

    .conditions {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    /*Estilos para los elementos de las listas*/

    .conditions li {
        margin-right: 15px;
        /*Espaciado entre los elementos de la lista*/
    }

    #cookieConsent {
        width: 40vw;
        top: 50%;
        left: 50%;
        bottom: auto;
        transform: translate(-50%, -50%);
        /*Ajuste para centrar*/
        text-align: center;
        margin-top: 120px;
    }

}